/* SmartAdmin_dashboard*/

@font-face {
    font-family: MuseoSans700;
    src: url(../fonts/MuseoSansCyrl_700.woff)
}

@font-face {
    font-family: MuseoSans300;
    src: url(../fonts/MuseoSansCyrl_300.woff)
}

@font-face {
    font-family: MuseoSans500;
    src: url(../fonts/MuseoSansCyrl_500.woff)
}

@font-face {
    font-family: MuseoSans900;
    src: url(../fonts/MuseoSansCyrl_900.woff)
}

        /*FONT-Families are HERE */

.t-sales_info p:first-of-type, .quote-info p:first-of-type, .orders-info p:first-of-type, .products-info p:first-of-type {
    font-family: MuseoSans700;
}

.t-sales_info p:last-of-type, .quote-info p:last-of-type, .orders-info p:last-of-type, .products-info p:last-of-type, .user-menu a, .visitors, .visitors-number, .monthly-report, .weekly p,.total p, .web-traffic-details, .name, .user_info, .customers p, .customers p, .products p, .followers p {
    font-family: MuseoSans500;
}

.user-country, .user-name, .visitor-info h3, .web-and-refresh h3, .colour-block p, .nick-name, .customers span, .products span, .followers span {
    font-family: MuseoSans300;
}


    /*BOX SHADOWS*/

.weekly, .total, .column-stuff, .sales_icon, .t-sales_info, .quote-info, .orders-info, .products-info, .quote-icon, .orders-icon, .products-icon, .header_logo, .whole-table, .web-traffic-info, .user-page_column  {
    -webkit-box-shadow: 1px 3px 3px #D7D9DD;
    -moz-box-shadow: 1px 3px 3px #D7D9DD;
    box-shadow: 1px 3px 3px #D7D9DD;
}

    /*FONT SIZES*/

.user-name, .visitor-info h3, .web-and-refresh h3 {
    font-size: 25px;
}

.customers span, .products span, .followers span {
    font-size: 33.33px;
}


#hover span:first-of-type, .user-country, .user-menu a, .user-settings a, .user-country, .colour-block p, .customers p, .products p, .followers p {
    font-size: 16.67px
}

.t-sales_info p:last-of-type, .quote-info p:last-of-type, .orders-info p:last-of-type, .products-info p:last-of-type  {
    font-size: 18.75px;
}

.t-sales_info p:first-of-type, .quote-info p:first-of-type, .orders-info p:first-of-type, .products-info p:first-of-type, .visitors, .visitors-number, .monthly-report, .weekly p,.total p, .web-traffic-details, .nick-name, .user_info {
    font-size: 14.58px;

}

.name {
    font-size: 20.53px;
}

/* Some flex stuff*/

.visitor-info, .web-and-refresh, .table-headline  {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

        /*Colors*/

.visitors, .weekly p, .total p, .visitors-number, .monthly-report, .web-traffic p, .user-main-page p, .votes-refresh, table {
    color: #78909C;
}

.hover-info, .t-sales_info, .quote-info, .orders-info, .products-info, .column-stuff, .weekly, .total, .web-traffic-info, .user-page_column   {
    background-color: #fff;
}

#messages span, .user-name, .profile-cover p {
    color: #fff;
}


    /* Header*/

header {
    overflow: hidden;
}

.header_logo {
    height: 75px;
}

.header-box {
    padding-top: 30px;
    margin-right: 52px;
}

.menu-search_section, .settings-icon {
    float: left;

}

.menu-search_section {
    margin-left: 39px;
}

.settings-icon, .search-icon, .logout-icon, .simple-menu span {
    cursor: pointer;
}

.search-icon, .play-icon, .settings-icon, .logout-icon, .sales_icon, .quote-icon, .orders-icon, .products-icon, #dashboard, #messages, #elements, #charts, #calendar, .awesome, .satisfied, .average, .not-useful, .refresh_icon, .profile-cover, .votes-refresh {
    background-repeat: no-repeat;
}

.play-icon {
    background-image: url(../pics/play-icon.png);
    width: 7px;
    height: 9px;
    float: left;
    position: relative;
    right: 10px;
    top: 4px;
}

.simple-menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #B0BEC5;
    margin-bottom: 5px;
}

input {
    width: 200px;
    height: 38px;
    outline: none;
    padding-left: 5px;
    font-style: italic;
    border-radius: 5px;
    border: 1px solid lightgrey;
    position: absolute;
    top: 19px;
    margin-left: 44px;
    visibility: hidden;
    color: lightgrey;

}

.search-icon {
    background-image: url(../pics/search-icon.png);
    width: 19px;
    height: 19px;
    margin-left: 50px;
    margin-top: -22px;
}

.settings-logout_section, .search-icon, .logout-icon {
    float: right;
}

.settings-icon {
    background-image: url(../pics/settings-icon.png);
    width: 18px;
    height: 18px;
    margin-right: 26px;
}

.logout-icon {
    background-image: url(../pics/logout-icon.png);
    width: 19px;
    height: 18px;
}

/* Logo*/

.logo {
    background-image: url(../pics/logo.png);
    background-color: #00BFE8;
    width: 313px;
    height: 78px;
    float: left;
    border-bottom: 3px solid #2F3B4C;
}

   /*** Aside part*/

aside {
    background-color: #2F3B4C;
    width: 313px;
    height: 1383px;
    float: left;
}

.user-profile {
    padding-top: 40px;
    height: 130px;
    padding-left: 15px;
}

.user-main-info {
    position: relative;
    bottom: 16px;

}

.user-name {
    font-size: 25px;
    margin-bottom: 0;
}

.user-country, .user-menu a, .user-settings a {
    color: #B0BEC5
}

.user-pic img {
    border-radius: 50%;
    position: absolute;
}

.availability-mark {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #33DE80;
    border-radius: 50%;
    position: relative;
    top: 46px;
    left: 50px;
    border: 4px solid;
}

.user-settings a {
    display: block;
    height: 52px;
    text-decoration: none;
    padding-left: 14px;
    padding-top: 16px;
}

.user-settings a:hover {
    background-color: #2A3344;
}

.side-bar_line {
    width: 252px;
    height: 1px;
    background-color: #B0BEC5;
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 30px;
}


/* USER MENU is HERE*/

.user-menu {
    padding-top: 27px;
    margin-bottom: 37px;
}

.user-menu a {
    display: block;
    height: 52px;
    text-decoration: none;
    padding-left: 47px;
    background-position-x: 15px;
    background-position-y: center;
    text-align: left;
    padding-top: 16px;
    border-left: 4px solid transparent;
}

.user-menu a:hover {
    background-color: #2A3344;
    border-left-color: #00BFE8;
}

#dashboard {
    background-image: url(../pics/dashboard-house_icon.png);
}

#messages {
    background-image: url(../pics/messages-icon.png);
}

#messages span {
    display: inline-block;
    margin-left: 97PX;
    background-color: #00BFE8;
    border-radius: 15px;
    width: 47px;
    height: 20px;
    text-align: center;
    font-size: 12.5px;
    padding-top: 3px;
}

#elements {
    background-image: url(../pics/elements-icon.png);
}

#charts {
    background-image: url(../pics/charts-icon.png);
}

#calendar {
    background-image: url(../pics/calendar-icon.png);
}

  /**Aside part ends*/

/* Content part*/

.content {
    overflow: hidden;
    padding-left: 27px;
    padding-top: 28px;
    padding-right: 27px;
}

/* Main part*/

main {
    background-color: #ECEEF2;
    overflow: hidden;
}

.info-blocks {
    margin-bottom: 20px;
}

.sales-block, .quote-block, .orders-block, .products-block, .sales_icon, .t-sales_info, .quote-info, .orders-info, .products-info, .quote-icon, .orders-icon, .products-icon  {
    height: 110px;

}

.sales_icon, .quote-icon, .orders-icon, .products-icon {
    background-position: center;
}

.t-sales_info, .quote-info, .orders-info, .products-info {
    padding-top: 32px;
}


.t-sales_info p:first-of-type {
    color: #FF8761;
}

.quote-info p:first-of-type {
    color: #57BDDE;
}

.orders-info p:first-of-type {
    color: #B198DC;
}

.products-info p:first-of-type {
    color: #6DC7BE;
}

.sales_icon {
    background-image: url(../pics/total-sales_icon.png);
    background-color: #FF8761;
}

.quote-icon {
    background-color: #57BDDE;
    background-image: url(../pics/new-quote_icon.png);
}

.orders-icon {
    background-color: #B198DC;
    background-image: url(../pics/orders-icon.png);
}

.products-icon {
    background-image: url(../pics/products-icon.png);
    background-color: #6DC7BE;
}


    /*product-visitors-block*/


.visitor-info {
    margin: 0 30px 20px 30px;
}

.visitors-icon {
    margin-right: 7px;
}

.visitors-number {
    list-style: none;
    float: left
}

/*weekly-total_charts*/

.weekly {
    height: 200px;
}

.weekly img {
    top: 50px;
}

.total img, .weekly img {
    position: relative;
}

.total {
    height: 184px;
}

.total img {
    top: 68px;
}

.weekly, .total {
    text-align: center;
    overflow: hidden;
    margin: 0 auto 20px;
}

#hover span:first-of-type {
    color: #38A4DD;
}

#hover span:nth-last-of-type(1) {
    font-size: 33.33px;
}


        /*WEB TRAFFIC is HERE*/

.web-traffic-info {
    padding: 30px 30px 28px 30px;
}

.web-and-refresh {
    margin-bottom: 44px;
}

.colour-block {
    float: right;
    padding-top: 55px;
}

.colour-block span {
    margin-right: 9px;
}

.colour-block span, .colour-block p {
    display: inline-block;
}

.purple-rectangular, .yellow-rectangular, .blue-rectangular {
    width: 11px;
    height: 11px;
    display: block;
}

.yellow-rectangular {
    background-color: #FFC400;
}

.blue-rectangular {
    background-color: #38A4DD;
}

.purple-rectangular {
    background-color: #B39DDB;
}

.refresh_icon {
    background-image: url(../pics/refresh-btn.png);
    display: block;
    width: 18px;
    height: 18px;
}

.hover-info {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    position: relative;
    top: 38px;
    left: 55px;
    z-index: 9;
    text-align: center;
    padding-top: 41px;
    visibility: hidden;
}

.traffic-chart {
    overflow: hidden;
    height: 214px;
    display: inline-block;
    width: 196px;
    margin-bottom: 62px;
}

.traffic-chart img {
    position: absolute;
    z-index: 9;
}


    /*USER MAIN PAGE is HERE*/

.profile-cover p:first-of-type {
    padding-top: 113px;
}

.user-page_column {
    padding-bottom: 23px
}

.user-photo img {
    border-radius: 50%;
    border: 6px solid #fff;
}

.profile-cover {
    background-image: url(../pics/profile-background.jpg);
    background-size: cover;
    height: 240px;
}

.user-photo {
    text-align: center;
    position: relative;
    top: -40px;
}

.user-info {
    margin-bottom: 38px;
}

.followers, .products, .customers {
    text-align: center;
}

.products {
    border-right: 1px solid #CFD8DC;
    border-left: 1px solid #CFD8DC;
}

        /* TABLE is HERE*/

.table-bordered {
    margin: 0 auto;
}

.whole-table {
    background-color: #fff;
    margin-bottom: 33px;
    margin-top: 20px;
}

.votes-refresh {
    margin-right: 28px;
}

.refresh-btn {
    background-image: url(../pics/refresh-btn.png);
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    cursor: pointer;
}

.table-headline {
    margin-left: 28px;
    margin-right: 28px;
}

.awesome, .satisfied, .average, .not-useful {
    background-position-x: 27px;
    background-position-y: center;
    padding-left: 54px;
    width: 318px;
}

.awesome {
    background-image: url(../pics/ratings-happy.png);
}

.satisfied {
    background-image: url(../pics/ratings-smiley.png);
}

.average {
    background-image: url(../pics/ratings-sad.png);
}

.not-useful {
    background-image: url(../pics/ratings-angry.png)
}

table {
    margin-top: 43px;
}

table td {
    height: 52px;
}

.td_filler {
    width: 516px;
    text-align: center;
}

.grey {
    height: 8px;
    width: 420px;
    background-color: #DAE4E8;
    display: inline-block;
    position: relative;
}

.grey, .green-filler, .blue-filler, .red-filler, .yellow-filler {
    border-radius: 5px;
}

.green-filler {
    background-color: #5EC7BD;
    width: 67%;

}

.blue-filler {
    background-color: #38A4DD;
    width: 25%;
}

.yellow-filler {
    background-color: #FFC400;
    width: 7%;
}

.red-filler {
    background-color: #FF7043;
    width: 15%;
}

.percentage {
    width: 93px;
    border-right-style: none;
    text-align: center;
}


@media (max-device-width: 768px ) {
    aside {
        height: auto;
        width: 100%;
    }

    .logo {
        border-bottom: none;
        width: 100%;
    }

    /*Info blocks*/

    .quote-block {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .orders-block {
        margin-bottom: 20px;
    }

    /*product-visitors-block*/

    .product-visitors-block {
        margin-bottom: 20px;
    }

    /*Website traffic part */

    .colour-block {
        float: none;
        padding-top: 0;
    }

    .web-traffic-details br {
        display: none;
    }


    .traffic-chart {
        margin-bottom: 0;
    }

    /*Table*/

    .responsive_table {
        overflow: auto;
        margin: 10px;
    }

    .table-headline {
        display: block;
        text-align: center;
    }

    .table-bordered {
        margin: 20px;
    }
}

@media (max-device-width: 375px ) {
    .user_info br {
        display: none;
    }
}